.cards-container {
    display: grid;
    padding: 10px 20px;
    grid-template-columns: repeat(5, 15rem);
    grid-column-gap: 2rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 0.4rem;
}

.card-item__title {
    font-weight: bold;
    color: #9933ff;
    margin-bottom: 1rem;
}
.card-item__info {
    font-size: 14px;
}
.add-item-bookmark {
    position: absolute;
    right: 1rem;
    z-index: 1000;
    float: right;
    top: 10px;
    color: #db1f48;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    border-color: #000000;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.5rem;
}