.search-page-container {
    padding: 5rem;
}
.search-page-input-container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.saved-gifts-btn-container,
.saved-gifts-btn {
    background-color: #9933ff;
    color: #000000;
    font-weight: bold;
    border-color: #212121;
    padding: 1rem;
    border-radius: 1.2rem;
    text-decoration: none;
}


